:root{
    --darkGray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --veryDarkGray: hsl(0, 0%, 27%);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

header{
    background-image: url('./images/mobile-image-hero-1.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.hamburguer{
    display: flex;
    padding: 3rem;
    gap: 5rem;
}

.menu{
    display: none;
}

.next{
    background-color: black;
    width: 25vh;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-weight: 900;
    position: absolute;
    right: 0;
    bottom: 10.5rem;
}

.discover{
    padding: 2.5rem;
}

h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p{
    color: var(--darkGray);
    line-height: 2;
    font-size: 1.1rem;
    font-weight: 700;
}

.show{
    display: flex;
    align-items: center;
    gap: 1rem;
}

h2{
    text-transform: uppercase;
    margin: 3rem 0;
    letter-spacing: 0.7rem;
}

.available{
    display: none;
    width: 100vh;
}

.manufactered{
    display: none;
    width: 50%;
}

.furniture{
    width: 100%;
    padding: 2rem;
}

.ourFurnituri{
    letter-spacing: 0.5rem;
}

.room img{
    width: 100%;
}

.chair img{
    width: 100%;
}

.attribution{
    font-size: 1rem;
    text-align: center;
    padding: 2rem 0;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}
